## This  is a notebook

In [3]:
import pandas as pd
import numpy as np
import zipfile
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import Imputer
from sklearn.metrics import mean_absolute_error

In [8]:
sub1 = pd.read_csv('../data/submission_1_JFR')
sub2 = pd.read_csv('../data/submission_2_JFR')
sub3 = pd.read_csv('../data/submission_RMH')

template_submission = pd.read_csv('../data/sample_submission.csv')

In [9]:
out_formatted = (sub1 + sub2 + sub3) / 3

In [10]:
assert(out_formatted.shape == template_submission.shape)

In [20]:
out_formatted.to_csv('../data/submission_4_JFR', index=False)

In [19]:
out_formatted.to_csv('../data/submission_4_JFR.gz', index=False, compression='gzip')

In [17]:
out_formatted['ParcelId'] = sub1['ParcelId']

In [18]:
out_formatted.head()

   ParcelId    201610    201611    201612    201710    201711    201712
0  10754147  0.005037  0.005037  0.005037  0.005037  0.005037  0.005037
1  10759547  0.019643  0.019643  0.019643  0.019643  0.019643  0.019643
2  10843547  0.437006  0.437006  0.437006  0.437006  0.437006  0.437006
3  10859147  0.029992  0.029992  0.029992  0.029992  0.029992  0.029992
4  10879947  0.016317  0.016317  0.016317  0.016317  0.016317  0.016317